.App {
  text-align: center;
  color: white;
  background-color: #0053AD;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  text-align: justify;
  padding: 5% 5%;
}

.lugares, .armas, .pessoas {
  height: 40px;
  line-height: 40px;
  padding: 0 2%;
  font-size: 0.8em;
}

.lugares:nth-child(odd), .armas:nth-child(odd), .pessoas:nth-child(odd) {
  background-color: white;;
  color: #0053AD;
}

.home span {
  float: right;
}

#navbar {
  background-color: white;
  color: #0053AD;
  height: 75px;
  line-height: 75px;
  padding: 1% 5%;
}

#left {
  float: left;
  margin: 0;
}

#right {
  float: right;
  margin: 0;
}

#modalStyle {
  color: #0053AD;
  overflow: hidden;
}

.checked {
  text-decoration: line-through;
}