.App {
  text-align: center;
  color: white;
  background-color: #0053AD;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.home {
  text-align: justify;
  width: 100%;
}

.lugares, .armas, .pessoas {
  line-height: 40px;
  padding: 0 2%;
  font-size: 0.8em;
  margin-top: 2%;
  width: 90%;
  text-align: center;
}

.lugares li, .armas li, .pessoas li {
  display: inline-flex;
  border: 1px solid black;
  width: 25%;
  height: 20vh;
  background-color: white;
  list-style-type: none;
  margin: 1%;
  border-radius: 5px;
  position: relative;
}

.lugares span, .armas span, .pessoas span {
  line-height: 1;
  position: absolute;
  bottom: 10px;
  width: 100%;
  font-weight: bold;
}

#navbar {
  background-color: white;
  color: #0053AD;
  height: 75px;
  line-height: 75px;
  padding: 1% 5%;
}

#left {
  float: left;
  margin: 0;
}

#right {
  float: right;
  margin: 0;
}

#modalStyle {
  color: #0053AD;
  overflow: hidden;
}



.slct{
  color: black;
}

.normal {
  color: red;
}

.dado {
  font-size: 5em;
}